/HMWK/Gaddis_7thEd_Ch2_Prob18/build/
/HMWK/Gaddis_7thEd_Ch2_Prob18/dist/
/HMWK/Gaddis_7thEd_Ch2_Prob4/build/
/HMWK/Gaddis_7thEd_Ch2_Prob4/dist/
/HMWK/Savitch_8thEd_Ch1_Prob7/build/
/HMWK/Savitch_8thEd_Ch1_Prob7/dist/
/HMWK/Savitch_8thEd_Ch1_Prob10/build/
/HMWK/Savitch_8thEd_Ch1_Prob10/dist/