/HMWK/Gaddis_7thEd_Ch2_Prob18/build/
/HMWK/Gaddis_7thEd_Ch2_Prob18/dist/
/HMWK/Gaddis_7thEd_Ch2_Prob4/build/
/HMWK/Gaddis_7thEd_Ch2_Prob4/dist/
/HMWK/Savitch_8thEd_Ch1_Prob7/build/
/HMWK/Savitch_8thEd_Ch1_Prob7/dist/
/HMWK/Savitch_8thEd_Ch1_Prob10/build/
/HMWK/Savitch_8thEd_Ch1_Prob10/dist/
/HMWK/Savitch_8thEd_Ch1_Prob8/build/
/HMWK/Savitch_8thEd_Ch1_Prob8/dist/
/HMWK/Gaddis_7thEd_Ch2_Prob8/dist/
/HMWK/Gaddis_7thEd_Ch2_Prob8/build/
/HMWK/Gaddis_7thEd_Ch2_Prob10/dist/
/HMWK/Gaddis_7thEd_Ch2_Prob10/build/
/HMWK/Gaddis_7thEd_Ch2_Prob14/build/
/HMWK/Gaddis_7thEd_Ch2_Prob14/dist/
/HMWK/Gaddis_7thEd_Ch2_Prob17/build/
/HMWK/Gaddis_7thEd_Ch2_Prob17/dist/
/HMWK/Assignment 1/Savitch_9thEd-Ch1_ProgProj4/Savitch_9thEd_Chap1_ProgProj4/build/
/HMWK/Assignment 1/Savitch_9thEd-Ch1_ProgProj4/Savitch_9thEd_Chap1_ProgProj4/dist/
/Lab/RollTheDiceToAFile/build/
/Lab/RollTheDiceToAFile/dist/
/HMWK/Assignment 2/Gaddis_8thEd_Chap3_Prob22/build/
/HMWK/Assignment 2/Gaddis_8thEd_Chap3_Prob22/dist/
/HMWK/Assignment 2/Gaddis_8th_Chap3_Prob19/build/
/HMWK/Assignment 2/Gaddis_8th_Chap3_Prob19/dist/
/Lab/TruthTable/build/
/Lab/TruthTable/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Chap3_Prob11/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Chap3_Prob11/build/
/HMWK/Assignment 2/Savitch_8thEd_Chap2_Prob1/dist/
/HMWK/Assignment 2/Savitch_8thEd_Chap2_Prob1/build/
/HMWK/Assignment 2/Savitch_8thEd_Chap2_Prob12/dist/
/HMWK/Assignment 2/Savitch_8thEd_Chap2_Prob12/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch3_Prob8/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch3_Prob8/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch3_Prob9/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch3_Prob9/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch3_Prob10/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch3_Prob10/build/
/HMWK/Assignment 2/Gaddis_ 7thEd_Ch3_Prob22/dist/
/HMWK/Assignment 2/Gaddis_ 7thEd_Ch3_Prob22/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch3_Prob21/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch3_Prob21/dist/
/HMWK/Assignment 2/Savitch_8thEd_Ch2_Prob14/build/
/HMWK/Assignment 2/Savitch_8thEd_Ch2_Prob14/dist/
/HMWK/Assignment 2/Savitch_8thEd_Ch2_Prob16/build/
/HMWK/Assignment 2/Savitch_8thEd_Ch2_Prob16/dist/
/HMWK/Assignment 2/Savitch_8thEd_Ch2_Prob7/build/
/HMWK/Assignment 2/Savitch_8thEd_Ch2_Prob7/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob1/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob1/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob3/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob3/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob5/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob5/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob6/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob6/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob16/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob16/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob23/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob23/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob14/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob14/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob10/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob10/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob1 copy/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob1 copy/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob3/Gaddis_7thEd_Ch4_Prob6/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob3/Gaddis_7thEd_Ch4_Prob6/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob21/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob21/dist/
/HMWK/Assignment 2/Savitch_8thEd_Ch3_Prob1/dist/
/HMWK/Assignment 2/Savitch_8thEd_Ch3_Prob1/build/
/HMWK/Assignment 2/Gaddis_7thed_Ch4_Prob8/build/
/HMWK/Assignment 2/Gaddis_7thed_Ch4_Prob8/dist/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob4/build/
/HMWK/Assignment 2/Gaddis_7thEd_Ch4_Prob4/dist/
/HMWK/Assignment 2-3/Assignment3/Savitch_8thEd_Ch3_Prob19/build/
/HMWK/Assignment 2-3/Assignment3/Savitch_8thEd_Ch3_Prob19/dist/
/HMWK/Assignment 2-3/Assignment3/Savitch_8thEd_Ch3_Prob7/build/
/HMWK/Assignment 2-3/Assignment3/Savitch_8thEd_Ch3_Prob7/dist/
/Lab/MaximumRandomNumber/build/
/Lab/MaximumRandomNumber/dist/
/Lab/FactorialNoFunction/build/
/Lab/FactorialNoFunction/dist/
/Lab/EtoTheXWithoutAFunction/build/
/Lab/EtoTheXWithoutAFunction/dist/
/Lab/Howmanywaystosave/build/
/Lab/Howmanywaystosave/dist/
/HMWK/Assignmen 4/Savitch_8thEd_Ch4_Prob7/dist/
/HMWK/Assignmen 4/Savitch_8thEd_Ch4_Prob7/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob1/dist/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob1/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob4/dist/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob4/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob5/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob5/dist/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob6/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob6/dist/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob7/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob7/dist/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob9/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob9/dist/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob11/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob11/dist/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob12/dist/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob12/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob13/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob13/dist/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob22/build/
/HMWK/Assignmen 4/Gaddis_7thEd_Ch5_Prob22/dist/